# shellcheck disable=SC2329,SC2317
_@@SAFE@@_deps__install() {
  ospkg__run --manifest "${_BASE_DIR}/dependencies/build/@@GROUP@@.yaml" --skip_installed --build-group "${_SYSSET_BUILD_CONTEXT}::@@GROUP@@"
  return
}
# shellcheck disable=SC2329,SC2317
_@@SAFE@@_deps__cleanup() {
  ospkg__run --remove-build-group "${_SYSSET_BUILD_CONTEXT}::@@GROUP@@"
  return
}
